h1 {
    color: dark-orange;
    sont-size:60px;
}
body {
    background: silver;
}

.btn-right {
    float: right;
}

.img-products {
    display: block;
    max_width: 100%;
    height: auto;
}

.img-right {
    display: block;
    max_width: 100%;
    float: right;
}