{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<h2><u>Add Product Area</u></h2>
<br/>
<div class="container">
      <form class="form-signin" method="POST" action="add_product">
        <h3 class="form-signin-heading">Admin logged in: {{ current_user.username }}</h3>
          <br/>
        <div class="shadow p-3 mb-5 bg-body rounded">
          {{ form.hidden_tag() }}
          {{ form.product_name.label(
          class="form-label") }}
          {{ form.product_name(
          class="form-control") }}
          {{ form.description.label(
          class="form-label") }}
          {{ form.description(
          class="form-control") }}
          {{ form.category.label(
          class="form-label") }}
          {{ form.category(
          class="form-control") }}
          {{ form.origin.label(
          class="form-label") }}
          {{ form.origin(
          class="form-control") }}
          {{ form.price.label(
          class="form-label") }}
          {{ form.price(
          class="form-control") }}
          {{ form.image.label(
          class="form-label") }}
          {{ form.image(
          class="form-control") }}
          <br/>
          {{ form.submit(
          class="btn btn-secondary") }}
        </div>
      </form>
    </div>



{% endblock %}