{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}


<div class="col-sm-9 col-sm-9-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header"><u>Users Edit Area</u></h2>
    <br/><br/>
    <h3 class="page-header">Admin logged in: {{ current_user.username }}.</h3>
    <br/>
</div>

<div class="card">
<div class="card-header">
      <strong>Update {{ to_update.username }}'s Profile</strong>

    <div class="card-body">
        <form action="/admin_user_edit/{{ to_update.id }}" method="POST">
            {{ form.hidden_tag() }}
            {{ form.full_name.label(class="form-label") }}
            {{ form.full_name(class="form-control", value=to_update.full_name) }}
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control", value=to_update.age) }}
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control", value=to_update.location) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=to_update.username) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=to_update.email) }}
            <br/><br/>
            {{ form.edit(class="btn btn-sm btn-secondary", value="Update Profile") }}
            {{ form.edit(class="btn btn-right btn-sm btn-danger", value="Delete Profile") }}
        </form>
    </div>
</div>
<br/><br/>

{% endblock %}