{% extends "base.html" %}

{% block content %}

    <h2><center><u>Edit Users Area</u></center></h2>
        <br/>
    <h3>Admin logged in: {{ current_user.username}}</h3>
        <br/>
    <h5>Click on a user's Full Name to edit or delete.</h5>
<div class="shadow p-3 mb-5 bg-body rounded">
    <table class="table caption-top table-hover table-bordered table-striped">
        <caption><strong>All Users</strong></caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Age</th>
                <th scope="col">Country</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Date Added</th>
            </tr>
        </thead>
    {% for user in all_users %}
        <tbody>
            <tr>
                <td>{{ user.id }}.</td>
                <td><a href="{{ url_for('admin_user_edit', id=user.id) }}">{{ user.full_name}}</a></td>
                <td>{{ user.age}}</td>
                <td>{{ user.location}}</td>
                <td>{{ user.username}}</td>
                <td>{{ user.email}}</td>
                <td>{{ user.date_added}}</td>
        <tbody>
        {% endfor %}
      </table>
</div>
{% endblock %}