{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}

<div class="col-sm-9 col-sm-9-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header"><u>Dashboard</u></h2>
    <br/><br/>
    <h3 class="page-header">You are logged in as {{ current_user.username }}</h3>
    <br/>

<div class="card">
  <div class="card-header">
      <strong>{{ current_user.username }}'s Dashboard</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to your Dashboard, {{ current_user.username }}!</h5>
    <p class="card-text"><strong>User ID: </strong>{{ current_user.id}}<br/>
                        <strong>Full Name: </strong>{{ current_user.full_name}}<br/>
                        <strong>Age: </strong>{{ current_user.age}}<br/>
                        <strong>Country: </strong>{{ current_user.location}}<br/>
                        <strong>Username: </strong>{{ current_user.username}}<br/>
                        <strong>E-mail: </strong>{{ current_user.email}}<br/>
                        <strong>Joined Date: </strong>{{ current_user.date_added}}<br/></p>
      <button type="button" class="btn btn-original btn-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#Edit">Edit Profile</button>
    <a href="{{ url_for('logout') }}" class="btn btn-right btn-warning btn-sm">Logout</a>
  </div>
</div>
</div>
<br/><br/>
<div id="Edit" class="collapse">
    <div class="card">
      <div class="card-header">
          <strong>Update {{ current_user.username }}'s Profile</strong>

    </div>
    <div class="card-body">

        <form action="/dashboard" method="POST">
            {{ form.hidden_tag() }}
            {{ form.full_name.label(class="form-label") }}
            {{ form.full_name(class="form-control", value=to_update.full_name) }}
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control", value=to_update.age) }}
            {{ form.location.label(class="form-label") }}
            {{ form.location(class="form-control", value=to_update.location) }}
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", value=to_update.username) }}
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=to_update.email) }}
            <br/><br/>
            {{ form.edit(class="btn btn-sm btn-secondary", value="Update Profile") }}
            {{ form.edit(class="btn btn-right btn-sm btn-danger", value="Delete Profile") }}
        </form>
    </div>
</div>
</div>
<br/><br/>
{% endblock %}