{% extends "base.html" %}
{% block content %}

<h1><center>Welcome to Market Online</center></h1>
<br/>
<h4><center>You like IT equipment?...Well, we love them too!</center></h4>
<h4><center>If you can dream about IT...we surely can deliver IT at your door.</center></h4>
<h4><center>Best part? You don't even have to trust me,
    just head out to the registration page to create an account and then go check our products page, and see for yourself.</center></h4>
<br/>

<center><img src="{{ url_for('static', filename='images/itproducts_front_page.jpg') }}" width=1300></center>




{% endblock %}