{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
    <div class="container">

      <form class="form-signin" method="POST" action="login">
        <h2 class="form-signin-heading">Log Into Your Account</h2>
          <br/>
          <div class="shadow p-3 mb-5 bg-body rounded">
          {{ form.hidden_tag() }}
          {{ form.username.label(
          class="form-label") }}
          {{ form.username(
          class="form-control") }}
          <br/>
          {{ form.password.label(
          class="form-label") }}
          {{ form.password(
          class="form-control") }}

          {{ form.remember(
          class="checkbox") }}
          {{ form.remember.label(
          class="form-label") }}
          <br/><br/>
          {{ form.submit(
          class="btn btn-secondary") }}
          </div>
      </form>

    </div>

{% endblock %}