{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
    <div class="container">

      <form class="form-signin" method="POST" action="signup">
        <h2 class="form-signin-heading">Registration</h2>
          <br/>
          {{ form.hidden_tag() }}
          {{ form.username.label(
          class="form-label") }}
          {{ form.username(
          class="form-control") }}
          <br/>
          {{ form.email.label(
          class="form-label") }}
          {{ form.email(
          class="form-control") }}
          <br/>
          {{ form.password.label(
          class="form-label") }}
          {{ form.password(
          class="form-control") }}
          <br/>
          {{ form.signup(
          class="btn btn-secondary") }}
      </form>

    </div>

{% endblock %}