{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{% endfor %}
    <div class="container">

      <form class="form-signin" method="POST" action="signup">
        <h2 class="form-signin-heading">Registration</h2>
          <br/><br/>
        <h4>Register an account so you can check out our products</h4>
        <div class="shadow p-3 mb-5 bg-body rounded">
          {{ form.hidden_tag() }}
          {{ form.full_name.label(
          class="form-label") }}
          {{ form.full_name(
          class="form-control") }}
          {{ form.age.label(
          class="form-label") }}
          {{ form.age(
          class="form-control") }}
          {{ form.location.label(
          class="form-label") }}
          {{ form.location(
          class="form-control") }}
          {{ form.username.label(
          class="form-label") }}
          {{ form.username(
          class="form-control") }}
          {{ form.email.label(
          class="form-label") }}
          {{ form.email(
          class="form-control") }}
          {{ form.password.label(
          class="form-label") }}
          {{ form.password(
          class="form-control") }}
          <br/>
          {{ form.signup(
          class="btn btn-secondary") }}
        </div>
      </form>
    </div>

{% endblock %}